*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'El Messiri', sans-serif;
}

/* Navbar Section Style*/

.menu-design{
    display: flex;
    justify-content: center;
  
}

.menu ul {
    list-style: none;  
    display: flex;
    justify-content: space-around;  
}
li a{
    text-decoration: none;
    font-size: 20px;
    color:black;
 }
 
 #logo{
     height:100px;
     width:100px;
 }
 
 .menu{
     width: 80%;
     height: 63%;
     margin-top: 40px;    
 }
 
 .topnav{
     background-color: white;
     position: fixed;
     width:100%;
     top: 0;
 }
 


/*Home Style*/


.display{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 100px 0;
}

.display img{
    width: 100%;
    height: 600px;
    /* position: relative; */
    opacity: 50%;
}

.content{
position: absolute;
top:210px;
left:65%;
transform: translate(-50%, -50%);
font-size: 80px;
color: black;
}

.btn{
    position: absolute;
    top:400px;
    left:65%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 12px 24px;  
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 4px solid #494949 !important;
    transition: all 0.4s ease 0s;
    font-size: 20px;
    height: auto;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn:hover {
    color:black;
    background-color: rgba(238, 175, 233, 0.863);
    border-color: grey !important;
    transition: all 0.4s ease 0s;
    font-size: 25px;
}


/*About Style*/

#about-us{
    padding: 180px 0  80px;
}

header h1{
    font-size: 60px;
    margin: 0 0 10px 0;
    color: rgb(53, 51, 51);
}

#about-icons{
    display: flex;
    justify-content: space-around;
    list-style: none; 
    flex-wrap: wrap;
}
#about-icons li {
    margin: 15px;
}

.service-icons{
    margin: 40px;
 }



/*Team Section Style*/
#team-info{
    padding: 120px 10px 70px;
    background-color: rgba(245, 245, 245, 0.384);
}

#team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 250px;
    border-radius: 40px;
    padding: 30px 10px 0 ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.25s ease-out;
    margin: 10px;
}

.card:hover,
.card:focus {
  transform: scale(1.05);
}

.card p{
    margin: 5px;
    color: rgb(53, 51, 51);
}

.icons{
    margin: 30px 0 ;
}

.icons a {
    margin: 5px;
    color:white;
}

.card-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 0 5px 0;
}


/*Contact Style*/

#contact-info{
padding: 100px 0  ;
}

.contact{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.txtfield{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    margin: 5px;
    border: 1px solid gray;
    transition: transform 0.25s ease-out;
    outline: none;

}
.txtarea{
    width: 300px;
    border-radius: 25px;
    padding: 12px 30px;
    border: 1px solid gray;
    height: 50px;
    transition: transform 0.25s ease-out;
    outline: none;
}
/* 
.imag{
width: 400px;
margin: 0 50px;
} */

.send-button{
    border-radius: 25px;
    width: 150px;
    outline: none ;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px 5px;
    margin: 10px;
    transition: transform 0.25s ease-out;
    color: white;
    font-size: large;

}
.send-button:hover,.send-button:focus,
.txtfield:hover,
.txtarea:hover,
.txtarea:focus,
.txtfield:focus {
  transform: scale(1.05);
  border: 1px solid black;

}
 
  label{

color: white;
}

  .contact-inputs{
    display: flex;
    justify-content: center;
  }


  .footer {
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    text-align: center;
   }


  /*queries*/

  @media only screen and (max-width: 1221px) {


  .content{
    font-size: 30px;
    left: 70%;
    }  

        
#about-us{
    padding: 0;
}

    .display img{
        height: 400px;
        top: 20px;
        opacity: 50%;
    }
    .btn{
        font-size: 10px;
        top: 350px;
        padding: 5px;
        left: 65%;
    }

    .btn:hover{
        font-size: 10px;

    }
}


  @media only screen  and (max-width: 450px) {
    
    ul{
        display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
.menu-design{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display{
    height: 500px;
}

header h1{
    font-size: 30px;
}
.menu{
    margin: 0;
}
#logo{
    height: 100px;
    width: 100px;
}

.card{
    margin: 10px 0;
}

.txtfield{
    width: 250px;
    margin: 0px;

}

.txtarea{
    width: 250px;
    margin: 0px;

}


  }
