*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'El Messiri', sans-serif;
}

#team-info{
    padding: 50px 10px 70px;
}

#team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h1{
    font-size: 60px;
    margin: 0 0 10px 0;
    color: rgb(53, 51, 51);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 250px;
    border-radius: 40px;
    padding: 30px 10px 0 ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.25s ease-out;
    margin: 10px;
}

.card:hover,
.card:focus {
  transform: scale(1.05);
}

.card p{
    margin: 5px;
    color: rgb(53, 51, 51);
}

.icons{
    margin: 30px 0 ;
}

.icons a {
    margin: 5px;
}

.card-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 0 5px 0;
}

@media (max-width: 554px) {
.card{
    margin: 10px 0;
}
}

 html{
scroll-behavior: smooth; 
}


.menu-design{
    display: flex;
    justify-content: center;
}


ul{
    display: flex;
    justify-content: space-around;
    list-style: none;    
}

li a{
   text-decoration: none;
   color: rgba(104, 115, 119, 0.932);
}

#logo{
    height:50px;
    width:100px;
}

.menu{
    width: 80%;
    height: 63%;
    margin-top: 15px;
}

.topnav{
    background-color:white;
    overflow: hidden;
    position: sticky;
    padding: 20px 0 0 0 ;
}


  @media only screen  and (max-width: 450px) {
    
    ul{
        display: flex;
       
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
.menu-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#logo{
    height: 100px;
    width: 200px;
}
    
  }
 


  @media only screen and (min-width: 600px) {
    .content {
        font-size: 20px;
  }
}

  @media only screen and (min-width: 600px) {
    .btn {
        position: absolute;
        top:30%;
        left:20%;
        transform: translate(-50%, -50%);
  }
}


.display{
    min-width: 200px;
    min-height: 1500px;
}

#section1{
    height:600px;
}

#section2{
    height: 600px;
}
.display img{
    width: 100%;
    height: 1000px;
    position: relative;
    opacity: 50%;
}

.display h1{
    font-family:'El Messiri', sans-serif;
    font-size: 125px;
    color: black;
}

.content{
position: absolute;
top:35%;
left:50%;
transform: translate(-50%, -50%);
}

.btn{
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 12px 24px;  
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 4px solid #494949 !important;
    transition: all 0.4s ease 0s;
    font-family:'El Messiri', sans-serif;
    font-size: 35px;
    height: auto;
}

.btn:hover {
    color:black;
    background-color: rgba(168, 241, 168, 0.863);
    border-color: grey !important;
    transition: all 0.4s ease 0s;
    font-family:'El Messiri', sans-serif;
    font-size: 25px;
}

#contact-info{
padding: 100px 0  ;
background-color: whitesmoke;}

.contact{
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.txtfield{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    margin-bottom: 5px;
    border: 1px solid gray;
    transition: transform 0.25s ease-out;
    outline: none;
    font-family: 'El Messiri', sans-serif;

}
.txtarea{
    width: 300px;
    border-radius: 25px;
    padding: 12px 30px;
    border: 1px solid gray;
    height: 50px;
    transition: transform 0.25s ease-out;
    outline: none;
    font-family: 'El Messiri', sans-serif;
}

.send-button:hover,.send-button:focus,
.txtfield:hover,
.txtarea:hover,
.txtarea:focus,
.txtfield:focus {
  transform: scale(1.05);
  border: 1px solid green;

}

.imag{
width: 300px;
}

.send-button{
    border-radius: 25px;
    width: 150px;
    border: 1px solid rgba(9, 180, 9, 0.863);
    color: whitesmoke;
    outline: none ;
	background-color: rgba(9, 180, 9, 0.863);
    cursor: pointer;
    padding: 5px;
    font-family: 'El Messiri', sans-serif;
    transition: transform 0.25s ease-out;

}

#font {
    animation: mymove 5s infinite;
    font-family: 'El Messiri', sans-serif;
    color: rgba(9, 180, 9, 0.863) ;
    text-shadow: 10px 20px 30px blue;
  }
  
  @keyframes mymove {
    50% {text-shadow: 10px 20px 30px green}
  }

  .footer {
   color: whitesmoke;
   font-family:'El Messiri', sans-serif;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(9, 180, 9, 0.863);
   text-align: center;
  }